// Breakpoints
$small-phone-width: 320px;
$phone-landscape-width: 480px;
$phablet-width: 670px;
$tablet-width: 768px;
$large-tablet-width: 960px;
$desktop-width: 1024px;
$desktop-medium-width: 1280px;
$desktop-large-width: 1440px;
$desktop-xlarge-width: 1920px;

// Text
$text: 1.4rem;
$text2: 1.5rem;
$text3: 1.6rem;
$text4: 1.8rem;
$text5: 2rem;
$text6: 2.4rem;
$text7: 3.2rem;
$text8: 3.5rem;
$text9: 4rem;
$text10: 5.1rem;
$text11: 6rem;
$text12: 7.5rem;

// LineHeight
$lHeight: 17px;
$lHeight2: 18px;
$lHeight3: 19px;
$lHeight4: 22px;
$lHeight5: 23px;
$lHeight6: 24px;
$lHeight7: 29px;
$lHeight8: 39px;
$lHeight9: 42px;
$lHeight10: 48px;
$lHeight11: 62px;
$lHeight12: 73px;
$lHeight13: 92px;

// Colors
$white: #fff;
$black: #000;

$green: #06c167;
$bluelight: #f3fcf7;
